* {
		font-family: 'Mina', sans-serif;
}

.grid {
	width: 95%;
	height: 800px;
	display: grid;
}

img {
    width: 100%;
    height: 100%;
}

.wrapper {
	display: grid;
	grid-template-columns: 50% 50%;
}

.box {
	margin: 5px 10px;
}

.box1 {
	height: 70px;
	width: 100%;
	background-color: #34495e;
	color: white;
	text-align: left;
	text-indent: 10px;
	grid-template-columns: 75% 25%;
	display: grid;
}

.menu-left {
	height: 50px;
	width: 100%;
	padding-left: 20px;
}

.menu-right {
	height: 50px;
	width: 100%;
	padding: 20px;
}

.box2 {
	height: 200px;
	width: 100%;	
	background-color: #E0E4E9;	
}

.box3 {
	height: 200px;
	width: 100%;
	background-color: #E0E4E9;	
}

.box4 {
	height: 200px;
	width: 100%;
	background-color: #95a5a6;	
}

.box5 {
	height: 200px;
	width: 100%;
	background-color: #95a5a6;
}

.box6 {
	height: 70px;
	width: 100%;
	background-color: #34495e;	
}

.textbox {
	text-align: center;
	padding: 10px 10px;
	font-size: 12px;
}

h5 {
	text-transform: uppercase;
}
